extends layouts/layout

block vars
	- var title = 'Desenvolvedor Web'
	- var keywords = 'Desenvolvedor Web, Desenvolvedor Front-end, Desenvolvedor Full Stack, Sites Responsivos, WordPress, Mobile First'
	- var description = 'Desenvolvedor web especializado em sites responsivos, sistemas MVC, CodeIgniter, WordPress e Mobile First'

block content
	section#about.about.bg-primary.text-center
		.container
			.row
				.col-md-8.col-md-offset-2
					h1.section-heading Desenvolvedor Web
					p Tenho 22 anos, sou graduado em Sistemas para Internet, técnico em Informática para Internet, e comecei a atuar com desenvolvimento web há 5 anos com trabalhos como freelancer,  realizando pequenos projetos para me habituar ao mundo do desenvolvimento web, após esse período de experiência consegui uma oportunidade em uma agência de publicidade onde pude colocar em prática tudo o que já sabia e agregar novos conhecimentos.
					p Sou um profissional direto, prático e simples. Prezo pela organização e bom relacionamento com os demais membros de Equipe. Gosto de novas ideias e sou loucamente apaixonado por novas tecnologias, pois aprender nunca é demais.
					p Tenho objetivo de carreira, e crescimento. Sempre estou preparado e motivado para assumir riscos e novos desafios além de e atitudes inovadoras. Sei ouvir as demais opiniões, assim como também respeita-las. Me dedico à todos os projetos em que trabalho, visando alcançar os resultados e objetivos desejados, respeito as relações internas da empresa e a hierarquia, e sempre, sempre, e SEMPRE, busco novos aprendizados para possa me manter atulizado não somente na área de tecnologia, mas sim em um contexto geral.
					.badges
						a.btn.btn-outline.btn-xl.page-scroll(href='#skills') Habilidades
	section#skills.skills
		.container
			.row
				.col-lg-12.text-center
					.section-heading
						h2 Habilidades
						hr
			.row
				.col-md-3.skill
					.feature-item
						p.text-center
							img.img-responsive.center-block(src='img/git.png', alt='GitHub & BitBucket')
						h3 Git(GitHub/BitBucket)
						p.text-muted Ferramenta de versionamento.
				.col-md-3.skill
					.feature-item
						p.text-center
							img.img-responsive.center-block(src='img/html5-css3.png', alt='HTML5 & CSS3')
						h3 HTML5 & CSS3
						p.text-muted Versões mais recentes do HTML e CSS
				.col-md-3.skill
					.feature-item
						p.text-center
							img.img-responsive.center-block(src='img/js-rwd.png', alt='JavaScript Web Design Responsivo')
						h3 JS & RWD
						p.text-muted JavaScript e Web Design Responsivo(Mobile-First)
				.col-md-3.skill
					.feature-item
						p.text-center
							img.img-responsive.center-block(src='img/pre-processors.png', alt='Stylus, SASS e LESS')
						h3 Pré-Processadores
						p.text-muted Otimização de tempo e performance com os pré-processadores Stylus, SASS e LESS
			.row
				.col-md-3.skill
					.feature-item
						p.text-center
							img.img-responsive.center-block(src='img/pug.png', alt='Pug(Jade)')
						h3 Pug(Antigo Jade)
						p.text-muted Pré-processador HTML para sites estáticos sem a necessidade de uma linguagem própria para programação.
				.col-md-3.skill
					.feature-item
						p.text-center
							img.img-responsive.center-block(src='img/php-mysql.png', alt='PHP & MySQL')
						h3 PHP & MySQL
						p.text-muted Linguagem de desenvolvimento de sistemas para a web e banco de dados.
				.col-md-3.skill
					.feature-item
						p.text-center
							img.img-responsive.center-block(src='img/task-runners.png', alt='Grunt & Gulp')
						h3 Gulp & Grunt
						p.text-muted Task runners afim de facilitar o trabalho de um desenvolvedor no dia-a-dia.
				.col-md-3.skill
					.feature-item
						p.text-center
							img.img-responsive.center-block(src='img/nodejs.png', alt='NPM & Node.JS')
						h3 NPM & Node.JS
						p.text-muted Dependências, pacotes, tasks para o dia-a-dia.
			.row
				.col-md-3.skill
					.feature-item
						p.text-center
							img.img-responsive.center-block(src='img/codeigniter.png', alt='CodeIgniter & MVC')
						h3 CodeIgniter & MVC
						p.text-muted Framework orientado a objetos que segue o padrão MVC para desenvolvimento de sistemas para a web.
				.col-md-3.skill
					.feature-item
						p.text-center
							img.img-responsive.center-block(src='img/wordpress.png', alt='WordPress')
						h3 WordPress
						p.text-muted Ferramenta para blogs, portais e sites que precisam de uma grande movimentação de conteúdo.
				.col-md-3.skill
					.feature-item
						p.text-center
							img.img-responsive.center-block(src='img/unix.png', alt='MacOS/Linux')
						h3 MacOS/Linux
						p.text-muted SSH, Git, NPM, pois plataformas baseadas em UNIX são perfeitas para o desenvolvimento web.
				.col-md-3.skill
					.feature-item
						p.text-center
							img.img-responsive.center-block(src='img/google.png', alt='SEO')
						h3 SEO
						p.text-muted SEO One Page, palavras-chaves, analytics, webmasters, pois é no SEO que atingimos os resultados esperados pelo projeto.
			.row
				.col-md-12.text-center
					a.btn.btn-outline.btn-xl.page-scroll.ctn(href='#portfolio') Portfólio
	section#portfolio.cta
		.cta-content
			.container
				.row
					.col-md-12
						h2.text-center Portfólio
				.row
					.col-md-3.projectcl
						a.linkpt(href='#unimedabc', data-fancybox='group')
							img.img-responsive.center-block(src='img/projects/thumbnails/unimedabc.jpg', alt='Unimed ABC')
							span.overlay-pt
								i.fa.fa-plus-circle(aria-hidden='true')
								| Unimed ABC
						#unimedabc.project
							.text-center
								h2 Unimed ABC
								p Desenvolvimento de tema para site institucional com base sistema de gestão de conteúdo em WordPress todo otimizado e responsivo para a Unimed do ABC.
								a.btn.btn-outline.btn-xl.ctn(href='https://goo.gl/eE2Co0', rel='nofollow', target='_blank') Visitar
								p
									br
									img.img-responsive.center-block(src='img/projects/unimedabc.jpg', alt='Unimed ABC')
					.col-md-3.projectcl
						a.linkpt(href='#agenciapinup', data-fancybox='group')
							img.img-responsive.center-block(src='img/projects/thumbnails/agenciapinup.jpg', alt='Agência PinUp')
							span.overlay-pt
								i.fa.fa-plus-circle(aria-hidden='true')
								| Agência PinUp
						#agenciapinup.project
							.text-center
								h2 Agência PinUp
								p Desenvolvimento de site institucional todo otimizado e responsivo para a Agência PinUp.
								a.btn.btn-outline.btn-xl.ctn(href='https://goo.gl/J8xkYK', rel='nofollow', target='_blank') Visitar
								p
									br
									img.img-responsive.center-block(src='img/projects/agenciapinup.jpg', alt='Agência PinUp')
					.col-md-3.projectcl
						a.linkpt(href='#levelnine', data-fancybox='group')
							img.img-responsive.center-block(src='img/projects/thumbnails/levelnine.jpg', alt='Levelnine')
							span.overlay-pt
								i.fa.fa-plus-circle(aria-hidden='true')
								| Levelnine
						#levelnine.project
							.text-center
								h2 Agência Levelnine
								p Desenvolvimento de site institucional todo otimizado e responsivo para a Levelnine.
								a.btn.btn-outline.btn-xl.ctn(href='https://goo.gl/7pd4Tp', rel='nofollow', target='_blank') Visitar
								p
									br
									img.img-responsive.center-block(src='img/projects/levelnine.jpg', alt='Levelnine')
					.col-md-3.projectcl
						a.linkpt(href='#rsearch', data-fancybox='group')
							img.img-responsive.center-block(src='img/projects/thumbnails/rsearch.jpg', alt='Rsearch')
							span.overlay-pt
								i.fa.fa-plus-circle(aria-hidden='true')
								| Rsearch
						#rsearch.project
							.text-center
								h2 Rsearch
								p Desenvolvimento de tema para site institucional com base sistema de gestão de conteúdo em WordPress todo otimizado e responsivo para a Rsearch.
								a.btn.btn-outline.btn-xl.ctn(href='https://goo.gl/cCCl8W', rel='nofollow', target='_blank') Visitar
								p
									br
									img.img-responsive.center-block(src='img/projects/rsearch.jpg', alt='Rsearch')
				.row
					.col-md-3.projectcl
						a.linkpt(href='#linoleum', data-fancybox='group')
							img.img-responsive.center-block(src='img/projects/thumbnails/linoleum.jpg', alt='Linoleum')
							span.overlay-pt
								i.fa.fa-plus-circle(aria-hidden='true')
								| Linoleum
						#linoleum.project
							.text-center
								h2 Linoleum
								p Desenvolvimento de tema responsivo para Magento para a loja Linoleum.
								a.btn.btn-outline.btn-xl.ctn(href='https://goo.gl/AEX5Ur', rel='nofollow', target='_blank') Visitar
								p
									br
									img.img-responsive.center-block(src='img/projects/linoleum.jpg', alt='Linoleum')
					.col-md-3.projectcl
						a.linkpt(href='#lapizza', data-fancybox='group')
							img.img-responsive.center-block(src='img/projects/thumbnails/lapizza.jpg', alt='LaPizza')
							span.overlay-pt
								i.fa.fa-plus-circle(aria-hidden='true')
								| LaPizza
						#lapizza.project
							.text-center
								h2 LaPizza
								p Desenvolvimento de plataforma de vendas online com CodeIgniter para a Pizzaria LaPizza.
								a.btn.btn-outline.btn-xl.ctn(href='https://goo.gl/xwq4BM', rel='nofollow', target='_blank') Visitar
								p
									br
									img.img-responsive.center-block(src='img/projects/lapizza.jpg', alt='LaPizza')
					.col-md-3.projectcl
						a.linkpt(href='#scterapiarespiratoria', data-fancybox='group')
							img.img-responsive.center-block(src='img/projects/thumbnails/scterapiarespiratoria.jpg', alt='S.C. Terapia Respiratória')
							span.overlay-pt
								i.fa.fa-plus-circle(aria-hidden='true')
								| S.C. Terapia Respiratória
						#scterapiarespiratoria.project
							.text-center
								h2 S.C. Terapia Respiratória
								p Desenvolvimento de tema para site institucional com base sistema de gestão de conteúdo em WordPress todo otimizado e responsivo para o Santa Catarina Terapia Respiratória.
								a.btn.btn-outline.btn-xl.ctn(href='https://goo.gl/yTZuRb', rel='nofollow', target='_blank') Visitar
								p
									br
									img.img-responsive.center-block(src='img/projects/scterapiarespiratoria.jpg', alt='S.C. Terapia Respiratória')
					.col-md-3.projectcl
						a.linkpt(href='#emagrecentro', data-fancybox='group')
							img.img-responsive.center-block(src='img/projects/thumbnails/emagrecentro.jpg', alt='Emagrecentro')
							span.overlay-pt
								i.fa.fa-plus-circle(aria-hidden='true')
								| Emagrecentro
						#emagrecentro.project
							.text-center
								h2 Emagrecentro
								p Desenvolvimento de tema para site institucional com base sistema de gestão de conteúdo em WordPress todo otimizado e responsivo para o Emagrecentro.
								a.btn.btn-outline.btn-xl.ctn(href='https://goo.gl/a8UlPc', rel='nofollow', target='_blank') Visitar
								p
									br
									img.img-responsive.center-block(src='img/projects/emagrecentro.jpg', alt='Emagrecentro')
				.row
					.col-md-3.projectcl
						a.linkpt(href='#promovempilhadeiras', data-fancybox='group')
							img.img-responsive.center-block(src='img/projects/thumbnails/promovempilhadeiras.jpg', alt='Promov Empilhadeiras')
							span.overlay-pt
								i.fa.fa-plus-circle(aria-hidden='true')
								| Promov Empilhadeiras
						#promovempilhadeiras.project
							.text-center
								h2 Promov Empilhadeiras
								p Desenvolvimento de site institucional todo otimizado e responsivo para a Promov Empilhadeiras.
								a.btn.btn-outline.btn-xl.ctn(href='https://goo.gl/6q1kLy', rel='nofollow', target='_blank') Visitar
								p
									br
									img.img-responsive.center-block(src='img/projects/promovempilhadeiras.jpg', alt='Promov Empilhadeiras')
					.col-md-3.projectcl
						a.linkpt(href='#livemap', data-fancybox='group')
							img.img-responsive.center-block(src='img/projects/thumbnails/livemap.jpg', alt='Livemap Projeções')
							span.overlay-pt
								i.fa.fa-plus-circle(aria-hidden='true')
								| Livemap Projeções
						#livemap.project
							.text-center
								h2 Livemap Projeções
								p Desenvolvimento de site institucional todo otimizado e responsivo para a Livemap Projeções.
								a.btn.btn-outline.btn-xl.ctn(href='https://goo.gl/r8FS9H', rel='nofollow', target='_blank') Visitar
								p
									br
									img.img-responsive.center-block(src='img/projects/livemap.jpg', alt='Livemap Projeções')
					.col-md-3.projectcl
						a.linkpt(href='#mastervocemelhor', data-fancybox='group')
							img.img-responsive.center-block(src='img/projects/thumbnails/mastervocemelhor.jpg', alt='Master Você Melhor')
							span.overlay-pt
								i.fa.fa-plus-circle(aria-hidden='true')
								| Master Você Melhor
						#mastervocemelhor.project
							.text-center
								h2 Master Você Melhor
								p Desenvolvimento de tema para site institucional com base sistema de gestão de conteúdo em WordPress todo otimizado e responsivo para a Master Você Melhor.
								a.btn.btn-outline.btn-xl.ctn(href='https://goo.gl/dN28XF', rel='nofollow', target='_blank') Visitar
								p
									br
									img.img-responsive.center-block(src='img/projects/mastervocemelhor.jpg', alt='Master Você Melhor')
					.col-md-3.projectcl
						a.linkpt(href='#canalaventura', data-fancybox='group')
							img.img-responsive.center-block(src='img/projects/thumbnails/canalaventura.jpg', alt='Canal Aventura')
							span.overlay-pt
								i.fa.fa-plus-circle(aria-hidden='true')
								| Canal Aventura
						#canalaventura.project
							.text-center
								h2 Canal Aventura
								p  Desenvolvimento de tema para site institucional com base sistema de gestão de conteúdo em WordPress todo otimizado e responsivo para o Canal Aventura.
								a.btn.btn-outline.btn-xl.ctn(href='https://goo.gl/2vyAYb', rel='nofollow', target='_blank') Visitar
								p
									br
									img.img-responsive.center-block(src='img/projects/canalaventura.jpg', alt='Canal Aventura')
				p.text-center
					a.btn.btn-outline.btn-xl.page-scroll(href='#contact') Entre em Contato
		.overlay
	section#contact.contact.bg-primary
		.container
			h2 Entre em Contato!
			ul.list-inline.list-social
				li.social-email
					a(href='mailto:andreromario@live.com', target='_blank')
						i.fa.fa-envelope
				li.social-github
					a(href='https://github.com/andreromario', target='_blank')
						i.fa.fa-github
				li.social-facebook
					a(href='https://www.facebook.com/knightromadeveloper', target='_blank')
						i.fa.fa-facebook
				li.social-linkedin
					a(href='https://www.linkedin.com/in/andr%C3%A9-rom%C3%A1rio-pereira-de-castro-6002b28a', target='_blank')
						i.fa.fa-linkedin